body {
.task-list-item  {
    background-color: transparent !important;
    box-shadow:none !important;
    cursor:default !important;
    transition: 0s !important;
}

  th {
        display: none !important;
    }

    .markdown-preview-view ul > li.task-list-item.is-checked {
  text-decoration:none;
  color:var(--text-normal);
}

.markdown-preview-view ol > li.task-list-item.is-checked {
  text-decoration:none;
  color:var(--text-normal);
}
}
